<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      おかいもの
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>おこづかい</ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-label>のこり</ion-label>
      <ion-note slot="end">101 sym</ion-note>
    </ion-item>
  </ion-card>
  <div class="ion-padding-horizontal">
    <ion-button expand="block" (click)="sendSymMock()">おかいものをする</ion-button>
  </div>
</ion-content>
